/*<----------------Barra Navegadora------------------>*/

.header {
    background-color: #000000;
    top: 0;
    left: 0%;
    position: absolute;
    height: 150px;
    width: 100%;
    z-index: 99999;
}

.nav {
    top: 0;
    left: 0%;
    position: absolute;
    background-image: url("img/oem.png");
    height: 100px;
    width: 100%;
    background-position: center;
    background-size: cover;
}


/*<----------------Botones------------------>*/

.botones {
    position: absolute;
    display: flex;
    top: 100px;
    text-decoration: none;
    margin: 10px 200px;
}

#boton1:hover {
    color: #FFBF00;
}

#boton2:hover {
    color: #FFBF00;
}

#boton3:hover {
    color: #FFBF00;
}

#boton4:hover {
    color: #FFBF00;
}

#boton5:hover {
    color: #FFBF00;
}

#line {
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    height: 0.1px;
    width: 1200px;
    margin: 0 80px;
}

#boton1 {
    font-size: 25px;
    color: #ffff;
    font-family: 'Squada One', cursive;
    margin: 0 30px;
    text-decoration: none;
}

#boton2 {
    font-size: 25px;
    color: #ffff;
    font-family: 'Squada One', cursive;
    margin: 0 30px;
    text-decoration: none;
}

#boton3 {
    font-size: 25px;
    color: #ffff;
    font-family: 'Squada One', cursive;
    margin: 0 30px;
    text-decoration: none;
}

#boton4 {
    font-size: 25px;
    color: #ffff;
    font-family: 'Squada One', cursive;
    margin: 0 30px;
    text-decoration: none;
}

#boton5 {
    font-size: 25px;
    color: #ffff;
    font-family: 'Squada One', cursive;
    margin: 0 30px;
    text-decoration: none;
}


/*<----------------Botones------------------>*/


/*<----------------Barra Navegadora------------------>*/


/*<----------------Cuerpo------------------>*/

.fondo {
    background-image: url("img/fondo.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0;
    height: 640px;
    width: 100%;
}

.fondo2 {
    background-color: #000000;
    position: absolute;
    top: 620px;
    left: 0;
    height: 300px;
    width: 100%;
}

#text1 {
    font-size: 12.9px;
    margin: 15px 0;
    text-align: center;
    color: #FFBF00;
    font-family: 'Squada One', cursive;
}

#text2 {
    font-size: 20px;
    font-family: 'Squada One', cursive;
    color: #ffffff;
    text-align: center;
}

#text3 {
    font-size: 18px;
    font-family: 'Squada One', cursive;
    color: #FFBF00;
    text-align: center;
}

#text4 {
    font-size: 20px;
    font-family: 'Squada One', cursive;
    color: #ffffff;
    text-align: center;
}

#text5 {
    font-size: 20px;
    font-family: 'Squada One', cursive;
    color: #FFBF00;
    text-align: center;
}

.links {
    text-align: center;
}

#f {
    font-size: 20px;
    margin: 0 50px;
    text-decoration: none;
    font-family: 'Squada One', cursive;
    color: #ffffff;
}

#t {
    font-size: 20px;
    margin: 0 50px;
    text-decoration: none;
    font-family: 'Squada One', cursive;
    color: #ffffff;
}

#b {
    color: #FFBF00;
    margin: 0 5px;
}


/*<----------------Cuerpo------------------>*/
